<p>
  Verantwortlicher im Sinne der Datenschutzgesetze, insbesondere der
  EU-Datenschutzgrundverordnung (DSGVO), ist der Betreiber dieser Webseite,
  siehe Impressum.
</p>
<h3>Ihre Betroffenenrechte</h3>
<p>
  Unter den angegebenen Kontaktdaten unseres Datenschutzbeauftragten können Sie
  jederzeit folgende Rechte ausüben:
</p>
<ul>
  <li>
    Auskunft über Ihre bei uns gespeicherten Daten und deren Verarbeitung (Art.
    15 DSGVO),
  </li>
  <li>Berichtigung unrichtiger personenbezogener Daten (Art. 16 DSGVO),</li>
  <li>Löschung Ihrer bei uns gespeicherten Daten (Art. 17 DSGVO),</li>
  <li>
    Einschränkung der Datenverarbeitung, sofern wir Ihre Daten aufgrund
    gesetzlicher Pflichten noch nicht löschen dürfen (Art. 18 DSGVO),
  </li>
  <li>
    Widerspruch gegen die Verarbeitung Ihrer Daten bei uns (Art. 21 DSGVO) und
  </li>
  <li>
    Datenübertragbarkeit, sofern Sie in die Datenverarbeitung eingewilligt haben
    oder einen Vertrag mit uns abgeschlossen haben (Art. 20 DSGVO).
  </li>
</ul>
<p>
  Sofern Sie uns eine Einwilligung erteilt haben, können Sie diese jederzeit mit
  Wirkung für die Zukunft widerrufen.
</p>
<p>
  Sie können sich jederzeit mit einer Beschwerde an eine Aufsichtsbehörde
  wenden, z. B. an die zuständige Aufsichtsbehörde des Bundeslands Ihres
  Wohnsitzes oder an die für uns als verantwortliche Stelle zuständige Behörde.
</p>
<p>
  Eine Liste der Aufsichtsbehörden (für den nichtöffentlichen Bereich) mit
  Anschrift finden Sie
  <a
    href="https://www.bfdi.bund.de/DE/Service/Anschriften/Laender/Laender-node.html"
    target="_blank"
    rel="noopener nofollow"
    >hier</a
  >.
</p>
<p></p>
<h3>Erfassung allgemeiner Informationen beim Besuch unserer Website</h3>
<h4>Art und Zweck der Verarbeitung:</h4>
<p>
  Wenn Sie auf unsere Website zugreifen, d.h., wenn Sie sich nicht registrieren
  oder anderweitig Informationen übermitteln, werden automatisch Informationen
  allgemeiner Natur erfasst. Diese Informationen (Server-Logfiles) beinhalten
  etwa die Art des Webbrowsers, das verwendete Betriebssystem, den Domainnamen
  Ihres Internet-Service-Providers, Ihre IP-Adresse und ähnliches.
</p>
<p>Sie werden insbesondere zu folgenden Zwecken verarbeitet:</p>
<ul>
  <li>Sicherstellung eines problemlosen Verbindungsaufbaus der Website,</li>
  <li>Sicherstellung einer reibungslosen Nutzung unserer Website,</li>
  <li>Auswertung der Systemsicherheit und -stabilität sowie</li>
  <li>zur Optimierung unserer Website.</li>
</ul>
<p>
  Wir verwenden Ihre Daten nicht, um Rückschlüsse auf Ihre Person zu ziehen.
  Informationen dieser Art werden von uns ggfs. anonymisiert statistisch
  ausgewertet, um unseren Internetauftritt und die dahinterstehende Technik zu
  optimieren.
</p>
<h4>Rechtsgrundlage und berechtigtes Interesse:</h4>
<p>
  Die Verarbeitung erfolgt gemäß Art. 6 Abs. 1 lit. f DSGVO auf Basis unseres
  berechtigten Interesses an der Verbesserung der Stabilität und Funktionalität
  unserer Website.
</p>
<h4>Empfänger:</h4>
<p>
  Empfänger der Daten sind ggf. technische Dienstleister, die für den Betrieb
  und die Wartung unserer Webseite als Auftragsverarbeiter tätig werden.
</p>
<p></p>
<h4>Speicherdauer:</h4>
<p>
  Die Daten werden gelöscht, sobald diese für den Zweck der Erhebung nicht mehr
  erforderlich sind. Dies ist für die Daten, die der Bereitstellung der Website
  dienen, grundsätzlich der Fall, wenn die jeweilige Sitzung beendet ist.
</p>
<p>
  Im Falle der Speicherung der Daten in Logfiles ist dies nach spätestens 14
  Tagen der Fall. Eine darüberhinausgehende Speicherung ist möglich. In diesem
  Fall werden die IP-Adressen der Nutzer anonymisiert, sodass eine Zuordnung des
  aufrufenden Clients nicht mehr möglich ist.
</p>
<p></p>
<h4>Bereitstellung vorgeschrieben oder erforderlich:</h4>
<p>
  Die Bereitstellung der vorgenannten personenbezogenen Daten ist weder
  gesetzlich noch vertraglich vorgeschrieben. Ohne die IP-Adresse ist jedoch der
  Dienst und die Funktionsfähigkeit unserer Website nicht gewährleistet. Zudem
  können einzelne Dienste und Services nicht verfügbar oder eingeschränkt sein.
  Aus diesem Grund ist ein Widerspruch ausgeschlossen.
</p>
<p></p>
<h3>Verwendung von Scriptbibliotheken (Google Webfonts)</h3>
<p>
  Um unsere Inhalte browserübergreifend korrekt und grafisch ansprechend
  darzustellen, verwenden wir auf dieser Website „Google Web Fonts“ der Google
  LLC (1600 Amphitheatre Parkway, Mountain View, CA 94043, USA; nachfolgend
  „Google“) zur Darstellung von Schriften.
</p>
<p>
  Weitere Informationen zu Google Web Fonts finden Sie unter
  <a
    href="https://developers.google.com/fonts/faq"
    rel="noopener nofollow"
    target="_blank"
    >hier</a
  >
  und in der
  <a
    href="https://www.google.com/policies/privacy/"
    rel="noopener nofollow"
    target="_blank"
    >Datenschutzerklärung von Google</a
  >.
</p>
<p></p>
<h3>Terminvereinbarung via Calendly</h3>
<p>
  Wir bieten auf unserer Website die Option an, Termine über das Tool Calendly
  zu buchen. Bei Klick auf den Button "Termin buchen" (bzw. "Book a meeting")
  werden Sie auf die Website calendly.com des Unternehmens Calendly LLC, BB&T
  Tower, 271 17th St NW, Atlanta, GA 30363, USA (nachfolgend “Calendly” genannt)
  weitergeleitet. Bei der Terminvereinbarung ist generell die Angabe von
  personenbezogenen Daten notwendig, welche dies sind, entnehmen Sie bitte dem
  auszufüllenden Formular. Bei Buchung eines Termins über Calendly werden Ihre
  auf der Website von Calendly eingegebenen Daten von Calendly an uns
  weitergegeben und von uns gespeichert und verarbeitet, um den Termin
  durchzuführen. Rechtsgrundlage hierfür ist Art. 6 Abs. 1 S. 1 lit. b DSGVO.
  Zur Verarbeitung Ihrer Daten durch Calendly verweisen wir auf die
  <a href="https://calendly.com/pages/privacy" target="_blank"
    >Datenschutzerklärung von Calendly</a
  >. Es kann nicht ausgeschlossen werden, dass Ihre Daten in die USA und somit
  in ein unsicheres Drittland übermittelt werden. Weitere Informationen hierzu
  finden Sie
  <a href="https://calendly.com/pages/security" target="_blank">hier</a>. Die
  Nutzungsbedingungen von Calendly, denen wir bei unserer Anmeldung bei Calendly
  zugestimmt haben, enthält zudem ein
  <a href="https://calendly.com/pages/dpa" target="_blank"
    >Datenverarbeitungsaddendum</a
  >
  mit welchem das Unternehmen Calendly Ihnen im Hinblick auf die
  Datenübertragung in die USA zusätzlichen Schutz zusagt, um die DSGVO-Vorgaben
  zu erfüllen. Für die USA bestehen derzeit weder ein Angemessenheitsbeschlusses
  der EU noch sonst geeignete Garantien. Der Schutz Ihrer Daten kann im Zielland
  USA nicht gewährleistet werden.
</p>
<p>
  In den USA besteht aktuell kein der EU gleichwertiges Datenschutzniveau. Daher
  geht die Übermittlung mit entsprechenden Risiken einher. Insbesondere bestehen
  keine Garantien im Hinblick auf das Unterbleiben von Zugriffen auf Ihre
  übermittelten Daten durch staatliche Stellen. So kann es z.B. nicht
  ausgeschlossen werden, dass US-Behörden auf Grundlage von Abschnit 702 des
  Foreign Intelligence Surveillance Act (kurz FISA; zu Deutsch etwa “Gesetz zur
  Überwachung in der Auslandsaufklärung”, ein Gesetz das die Auslandsaufklärung
  und Spionageabwehr der Vereinigten Staaten regelt) auf Ihre Daten zugreifen.
  Wir weisen Sie in diesem Zusammenhang ausdrücklich darauf hin, dass Ihnen als
  EU-Bürger insoweit keine effektive Rechtsschutzmöglichkeit gegen die
  Verarbeitung Ihrer Daten durch US-Behörden auf Grundlage des FISA zur
  Verfügung steht. Wenn Sie die Buchung eines Termins über Calendly vornehmen,
  so tun Sie dies in Kenntnis dieser Risiken, die Sie dadurch auch bewusst in
  Kauf nehmen.
</p>
<p></p>
<h3>Web Analytics mit Plausible</h3>
<p>
  Wir verwenden Web Analytics um Statistiken über die Nutzung unserer Website zu
  erheben. Diese Statistiken sind wichtig für uns, um unseren Auftritt und
  unsere Inhalte laufend verbessern zu können. Datenschutz hat für uns dabei
  höchste Priorität, deshalb setzen wir auf auf Analysetool Plausible. Im
  Gegensatz zu anderen Trackern wie Google Analytics, verzichtet Plausible
  bewusst auf den Einsatz von Cookies und speichert keine Personenbezogenen
  Daten, weder im Browser noch auf den Servern von Plausible. Ausgewertet werden
  nur allgemeine Daten wie Aufgerufene Seiten, verwendete Browser und Geräte und
  Herkunft. Einen vollständigen Überblick über erhobene Daten finden Sie in den
  <a href="https://plausible.io/data-policy" target="_blank"
    >Datenrichtlinien</a
  >
  von Plausible. Anbieter: OÜ Plausible Insights, Västriku tn 2, Tartu 50403,
  Estland.
</p>
<p></p>
<h3>SSL-Verschlüsselung</h3>
<p>
  Um die Sicherheit Ihrer Daten bei der Übertragung zu schützen, verwenden wir
  dem aktuellen Stand der Technik entsprechende Verschlüsselungsverfahren (z. B.
  SSL) über HTTPS.
</p>
<p></p>
<hr />
<h3>Information über Ihr Widerspruchsrecht nach Art. 21 DSGVO</h3>
<h4>Einzelfallbezogenes Widerspruchsrecht</h4>
<p>
  Sie haben das Recht, aus Gründen, die sich aus Ihrer besonderen Situation
  ergeben, jederzeit gegen die Verarbeitung Sie betreffender personenbezogener
  Daten, die aufgrund Art. 6 Abs. 1 lit. f DSGVO (Datenverarbeitung auf der
  Grundlage einer Interessenabwägung) erfolgt, Widerspruch einzulegen; dies gilt
  auch für ein auf diese Bestimmung gestütztes Profiling im Sinne von Art. 4 Nr.
  4 DSGVO.
</p>
<p>
  Legen Sie Widerspruch ein, werden wir Ihre personenbezogenen Daten nicht mehr
  verarbeiten, es sei denn, wir können zwingende schutzwürdige Gründe für die
  Verarbeitung nachweisen, die Ihre Interessen, Rechte und Freiheiten
  überwiegen, oder die Verarbeitung dient der Geltendmachung, Ausübung oder
  Verteidigung von Rechtsansprüchen.
</p>
<h4>Empfänger eines Widerspruchs</h4>
<p>
  Empfänger des Widerspruchs ist der Betreiber dieser Webseite, siehe Impressum.
</p>
<hr />
<h3>Änderung unserer Datenschutzbestimmungen</h3>
<p>
  Wir behalten uns vor, diese Datenschutzerklärung anzupassen, damit sie stets
  den aktuellen rechtlichen Anforderungen entspricht oder um Änderungen unserer
  Leistungen in der Datenschutzerklärung umzusetzen, z.B. bei der Einführung
  neuer Services. Für Ihren erneuten Besuch gilt dann die neue
  Datenschutzerklärung.
</p>
<h3>Fragen an den Datenschutzbeauftragten</h3>
<p>
  Wenn Sie Fragen zum Datenschutz haben, schreiben Sie uns bitte eine E-Mail
  oder wenden Sie sich direkt an die für den Datenschutz verantwortliche Person
  in unserer Organisation. Dies ist der Betreiber dieser Webseite, siehe
  Impressum.
</p>
<p></p>

<br /><br />
